
$color-main: #299035;
$color-red: #B70303;
$background-color: #FFFFFF;


$font-main: 'Raleway', sans-serif;

@mixin main-font-normal($size) {
  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
}
@mixin main-font-bold($size) {
  font-family: $font-main;
  font-style: normal;
  font-weight: bold;
  font-size: $size;
}

@mixin full-display {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}